/**************************
Base Element Styles
**************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  background-color: #fafafa;
  margin: 0;
}

header {
  margin-bottom: 50px
}

header,
section,
main {
  text-align: center;
}

a {
  color: black;
  transition: all .3s ease-in-out;
}

}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-weight: 400;
}

h2,
h3 {
  text-align: center;
}

header a,
footer a,
h2 {
  text-decoration: none;
  text-transform: uppercase;
}

a,
h1,
h2 {
  font-family: 'Comfortaa', sans-serif;
}

section p,
#portfolio p {
  color: #7f7f7f;
  font-weight: 100;
}

section p {
  font-size: .95em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

img {
  width: 100%;
}

p {
  color: #626262;
  font-size: 1em;
}
.nav-header-links a {
  font-size: .9em;
  font-weight: bold;
  display: block;
  background-color: white;
  padding: 10px 5px;
  margin: 6px 20px;
}

 .nav-header-links a:hover {
  background-color: #5098e9;
  color: #f5f5f5;
  border-radius: 2px;
}

a:active {
  transform: scale(0.9);
  opacity: 0.8
}

.back-to-links a:hover,
.phone a:hover,
.email a:hover,
.main-footer a:hover {
  color: #5098e9;
}

/**************************
Base Layout Styles
**************************/

/* ---- Navigation ---- */

.back-to-top {
    padding: 12px 4px;
}

.main-footer p {
  float: left;
  font-weight: bold;
  padding-left: 30px;
}

.main-footer a {
  color: #4a4a4a;
  float: right;
  padding-right: 0px;
}

.nav-links-footer li {
  display: none;
}

/* ---- Layout Containers ---- */

.col {
  padding-left: 1.3em;
  padding-right: 1.3em;
  margin: 0;
}

#portfolio {
  padding-top: 25px;
  padding-bottom: 35px;
  background-color: white;
}

#portfolio h2 {
  padding-bottom: 20px;
}

#portfolio h3 {
  padding-top: 20px;
  padding-bottom: 0px;
  margin: 0;
}

#portfolio p {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 20px;
}

#contact {
  padding-top: 3em;
}

#contact h2 {
  padding-bottom: 1em;
}

.contact-info {
    padding-left: 10px;
    padding-right: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ---- Page Elements ---- */

.profile-picture {
  width: 225px;
}

.phone,
.email {
  color: #7a7a7a;
  font-weight: lighter;
  padding-bottom: 30px;
}

.phone a,
.email a {
  padding-left: .90em;
  text-decoration: none;
  font-weight: 300;
}

.line {
  border-bottom: 1px solid #edeff0;
  width: 90%;
  margin: 0 auto;

}
/**************************
Media Queries
**************************/



/* -------- Navigation -------- */




/* -------- Profile -------- */



/* -------- Portfolio -------- */


  }

/* -------- Footer -------- */




@media (min-width: 1024px) {
}

/* -------- Navigation -------- */




/* -------- Portfolio -------- */


/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
